@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


.tourCards {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
    background-color: whitesmoke;
    z-index: 10;
    
}

.tourCards h2, .tourCards h3, .tourCards p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.tourCards h2 {
    font-size: 25px;
}

.tourCards h3 {
    font-size: 18px;
}

.tourCards img {
    width: 200px;
    height: 100%;
    margin: 3px
}

.tourDescription {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 60%;
}

.bookTour {
    display: flex;
    flex-direction: column;
    margin: 3px;
    /* justify-content: space-around ; */
}

.add-to-trip {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}

.display-item {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 15px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    z-index: 10;
    position: absolute;
    width: 35%;
}

.back-button {
    margin: 10px;
    display: flex;
    z-index: 10;
    justify-content: center;
}

.tourDescription h2:hover {
    color: #0800a3;
}