@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 body, .App {
   background-color: rgb(255, 242, 224);
   min-height: 100vh;
 }

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.map-search {
  display: flex;
}
.map{
  width: 50%
}
