.NavMain {
  background-color: rgba(0, 9, 134, 0.774);
  color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px ;
}

.NavMain .nav-log {
  margin-left: auto;
  display: flex;
  color: rgb(255, 255, 255);
}
.NavMail .nav-trip {
  margin-right: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.NavMain img {
  width: 100px;
}

